#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -15px;
}

#friends-display-link i {
  color: var(--color-gray);
}

.friends-screen {
  padding: 0px 20px;
}
.friend-screen__channel {
  padding-top: 20px;
}
.friend-screen__channel-header {
  border-top: var(--main-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  color: var(--color-gray);
  font-size: 15px;
  font-weight: 700;
}

#splash-screen {
  background-color: var(--yellow);
  width: 100vw;
  height: 100vh;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
}
